.button{
    color: black;
    background: #D8DADF;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #D8DADF;
}
.page{
    margin-bottom: 0;
    margin-left: 12px;
    margin-right: 12px;
}